.container {
    font-family: 'Merriweather', serif;
    background-color: #fafdda;
}
.myName {
    font-size: 50px;
    font-weight: 900;
}
.normalft {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#beginning {
    margin-top: 5%;
}
.bigTitle {
    font-weight: 600;
}
.titles {
    color: #2079C7;
    font-weight: 700;
}
ul {
    margin-left: 5%;
}
#edu {
    margin-bottom: 5%;
}
.eduLi {
    margin-left: 4% !important;
}
#imgcontainer {
    background-color: #fafdda;
}